<div class="row justify-content-center">
    <div class="col-md-10 col">
        <div class="row">
            <h5 class="col-md-6">Customer Time Zone: {{ timeZone }}</h5>
            <h5 class="col-md-6 text-md-right">Total: {{ getTotal }}</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
            
                <thead>
                    <tr class="u-mat-primary">
                        <th>Remark</th>
                        <th>Date</th>
                    </tr>
                </thead>
            
                <tbody>
                    <ng-container *ngFor="let credit of selectItems( combinedCredits )">
                        <tr>
                            <td>{{ credit.remarks }}</td>
                            <td>{{ credit.date | date: 'dd.MMM.yyyy.EEE' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            
            </table>
        </div>
        <ngb-pagination *ngIf="combinedCredits.length > itemPerPage"
            [rotate]="true"
            [boundaryLinks]="true"
            [collectionSize]="combinedCredits.length"
            [pageSize]="itemPerPage"
            [(page)]="currentPage"
        ></ngb-pagination>
    </div>
</div>
