<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/administrator/top">French Faster Admin</a>

    <div class="collapse navbar-collapse" id="navbarContent" *ngIf="getMenusAsObservable$ | async as menues">
        <ul class="navbar-nav ml-auto add-padding">
            <ng-container *ngFor="let item of menues; let i = index;">
                <li class="nav-item dropdown">
                    <a href="href{{i}}" class="nav-link dropdown-toggle" id="dropdown-{{i}}" dropdown-toggle="dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }}
                    </a>
                    <div class="dropdown-menu">
                        <ng-container *ngFor="let innerMenu of item.menues">
                            <a class="dropdown-item" routerLink="{{innerMenu.link}}">{{ innerMenu.menu_title }}</a>
                        </ng-container>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>