<div class="col-md-12 check-schedule-search-form">
    <form action="submit" #checkForm="ngForm" (ngSubmit)="onSearch()">
        <div class="form-group">
            <label for="teachers" class="mr-sm-2">Teacher Name</label>
            <select name="techerName"
                id="teachers"
                class="custom-select mb-2"
                [formControl]="searchCtrls.controls['teacherId']"
            >
                <option value="">select teacher</option>
                <ng-container *ngFor="let t of teachersName">
                    <option [value]="t.id">{{ t.name }}</option>
                </ng-container>
            </select>
        </div>
        <div class="form-group">
            <label class="mr-sm-2 mb-2">Week</label>
            <select name="week-year" class="custom-select mb-2" [formControl]="searchCtrls.controls['year']">
                <ng-container *ngFor="let y of weekYears">
                    <option [value]="y">{{ y }}</option>
                </ng-container>
            </select>
            <select name="week-month" class="custom-select mb-2" [formControl]="searchCtrls.controls['month']">
                <ng-container *ngFor="let obj of weekMonths">
                    <option [value]="obj.val">{{ obj.title }}</option>
                </ng-container>
            </select>
            <select name="week-day" class="custom-select mb-2" [formControl]="searchCtrls.controls['day']">
                <ng-container *ngFor="let d of weekDays">
                    <option [value]="d">{{ d }}</option>
                </ng-container>
            </select>
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </div>
    </form>
</div>
