<div class="page-header">
    <h5 class="text-center">Check Teacher schedule</h5>
</div>
<div class="container">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ng-container *ngIf="teachersAsObservable$ | async as teachers">
                        <app-check-teacher-schedule-form
                            [teachers]="teachers"
                            (searchEvent)="onSearch($event)"
                        ></app-check-teacher-schedule-form>
                    </ng-container>
                </div>
                <div class="col-md-12">
                    <ng-container *ngIf="schedulesAsObservable$ | async as items">
                        <app-time-table
                            [isOnlyView]="true"
                            [onlyViewItems]="items"
                        ></app-time-table>
                        <!-- <app-check-teacher-schedule-table></app-check-teacher-schedule-table> -->
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-card>
</div>
