<div class="page-header">
    <h5 class="text-center">Check Teacher schedule</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-check-schedule-search-form
                [teachersName]="teachersAsObservable$ | async"
                (searchEvent)="search($event)"
            ></app-check-schedule-search-form>
            <ng-container *ngIf="getScheduleAsObservable$ | async as schedules">
                <app-check-table
                    [schedules]="schedules"
                ></app-check-table>
            </ng-container>
        </div>
    </div>
</div>
