<div class="container">
    <div class="row">
        <mat-form-field class="col-md-4">
            <mat-select placeholder="Select the instructor name to check" (change)="onChange($event)">
                <mat-option *ngFor="let teacher of options; let i = index" [value]="i">
                    {{ teacher.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <div class="col-md-4 offset-md-4 text-center mb-3" *ngIf="selectEvent | async as teacher">
            <button mat-raised-button color="primary" (click)="onSubmit(teacher)">Register</button>
        </div>
    </div>
</div>
