<ng-container *ngIf="bookings | async as books">
    <div class="col-12 search-table" *ngIf="books.length !== 0">
        <table class="table table-bordered table-sm">
            <thead>
                <tr class="table-warning">
                    <th class="text-center">Customer #</th>
                    <th class="text-center">Reservation #</th>
                    <th class="text-center">Student name</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Teacher</th>
                    <th class="text-center">By</th>
                    <th class="text-center">Cancel</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of books">
                    <td class="text-center">{{ item.customerId }}</td>
                    <td class="text-center">{{ item.reservationId }}</td>
                    <td>{{ item.studentName }}</td>
                    <td class="text-center">{{ item.date | date: 'd.MMM.yyyy.EEE' }}</td>
                    <td class="text-center">{{ item.date | date: 'hh:mm' }}</td>
                    <td class="text-center">{{ createEndTime(item.date | date: 'hh:mm') }}</td>
                    <td class="text-center">{{ item.teacherName }}</td>
                    <td class="text-center">{{ item.reserveBy }}</td>
                    <td>
                        <button type="button" class="btn btn-sm w-100" (click)="onCancel(item)">
                            Cancel
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
