<table class="table table-sm table-bordered table-responsive-lg">

    <thead>
        <tr class="u-mat-primary">
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Skype Name</th>
            <th>email</th>
            <th>Overview</th>
            <th>History</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let customer of sliceItems(customers)">
            <tr>
                <td class="text-center">{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td class="text-center">{{ customer.gender ? 'Male' : 'Female' }}</td>
                <td>{{ getCountry(customer.time_zone) }}</td>
                <td>{{ customer.skype_name }}</td>
                <td>{{ customer.mail_address }}</td>
                <td>
                    <a mat-raised-button color="primary" [routerLink]="['./edit-profile', customer.id]">Overview</a>
                </td>
                <td>
                    <a mat-raised-button color="warn" [routerLink]="['./lesson-history', customer.id]">History</a>
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>

<ngb-pagination
    [rotate]="true"
    [boundaryLinks]="true"
    [maxSize]="10"
    [collectionSize]="customers.length"
    [(page)]="currentPage"
></ngb-pagination>
