<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-10 offset-md-1 offset-sm-1" *ngIf="getMenusAsObservable$ | async as menues">
            <div class="row">
                <ng-container *ngFor="let item of menues">
                    <div class="col-md-6 col-sm-6 contents-box">
                        <h3 class="text-center">{{ item.title }}</h3>
                        <ng-container *ngFor="let innerMenu of item.menues">
                            <a routerLink="{{innerMenu.link}}">{{ innerMenu.menu_title }}</a>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
