<div class="page-header">
    <h5 class="text-center">Teacher schedule</h5>
</div>
<div class="container">
    <mat-card>
        <ng-container *ngIf="optionsAsObservable$ | async as options">
            <app-operations
                [options]="options"
                (selectEvent)="onSelect($event)"
                (submitEvent)="onSubmit($event)"
            ></app-operations>
        </ng-container>
        <ng-container *ngIf="scheduleAsObsevable$ | async as schedues">
            <app-schedule-table *ngIf="schedues.current.length"
                [teacher]="teacher"
                [schedules]="schedues"
                (clickEventProvider)="clickEventObserver($event)"
            ></app-schedule-table>
        </ng-container>
    </mat-card>
</div>

