<div class="page-header">
    <h5 class="text-center">Register of booking</h5>
</div>
<div class="container">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ng-container *ngIf="teacherAsObservable$ | async as teachers">
                        <app-operations
                            [teachers]="teachers"
                            [operations]="operationsAsObservable$ | async"
                            (searchEvent)="onSearch($event)"
                            (registerEvent)="register()"
                        ></app-operations>
                    </ng-container>
                </div>
                <div class="col-md-12">
                    <ng-container *ngIf="bookingAsObservable$ | async as booking">
                        <ng-container *ngIf="booking.customerId">
                            <app-booking-table
                                [customer]="(operationsAsObservable$ | async).customer"
                                [booking]="booking"
                                (clickEventProvider)="clickEventObserver($event)"
                            ></app-booking-table>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-card>
</div>
