<div class="page-header">
    <h5 class="text-center">{{ pageHeadTitle }}</h5>
</div>

<div class="container">
    <mat-card>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)" novalidate>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <input matInput type="number" placeholder="優先順位" formControlName="priority_number"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="名前" formControlName="name_first"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="苗字" formControlName="name_last" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="対応言語" formControlName="customers_language">
                                <mat-option *ngFor="let language of languages" [value]="language.value">
                                    {{ language.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="権限" formControlName="authority">
                                <mat-option *ngFor="let auth of authoritys" [value]="auth.value">
                                    {{ auth.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="タイムゾーン" formControlName="time_zone">
                                <mat-option *ngFor="let tz of timeZones" [value]="tz">
                                    {{ tz }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label class="mb-0">講師の状態: </label>
                        <mat-radio-group aria-label="state" formControlName="state">
                            <mat-radio-button [value]="+1">ON</mat-radio-button>
                            <mat-radio-button [value]="+0">OFF</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-5">
                        <!-- 画像ファイルアップロードは未実装です(2017/12/25) -->
                        <input hidden="true" id="input-file-id" type="file" accept="image/*" formControlName="picture"  autocomplete="off">
                        <label for="input-file-id" class="mat-raised-button mat-primary">画像選択</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Skype Name(ID)" formControlName="skype_name"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="email" placeholder="メールアドレス" formControlName="mail_address"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="User ID" formControlName="user_id"  autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="パスワード" formControlName="password"  autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>Details</label>
                        <mat-form-field class="w-100">
                            <mat-select placeholder="Teaches" formControlName="details_teaches">
                                <mat-option *ngFor="let teach of teaches" [value]="teach.value">
                                    {{ teach.title.en }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Other Language(s)" formControlName="details_other_language"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Education" formControlName="details_education"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Speciality" formControlName="details_speciality"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="Career" formControlName="details_career"></textarea>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="Comment" formControlName="details_comment"></textarea>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="Testimonial" formControlName="details_testimonial"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <label>Details(JPN)</label>
                        <mat-form-field class="w-100">
                            <mat-select placeholder="対応レベル" formControlName="details_teaches">
                                <mat-option *ngFor="let teach of teaches" [value]="teach.value">
                                    {{ teach.title.jp }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="その他可能言語" formControlName="details_jp_other_language"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="学歴" formControlName="details_jp_education"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="得意内容" formControlName="details_jp_speciality"  autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="経歴" formControlName="details_jp_career"></textarea>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="ひとこと" formControlName="details_jp_comment"></textarea>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="お客様の声" formControlName="details_jp_testimonial"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" mat-raised-button>Register</button>
            </div>
        </form>
    </mat-card>
</div>
