<div class="page-header">
    <h5 class="text-center">{{ pageHeaderTitle }}</h5>
</div>

<div class="container">
    <mat-card>
        <form [formGroup]="CustomerProfileForm" (ngSubmit)="onSubmit(CustomerProfileForm)" novalidate>
            <div class="form-group">
                <div class="form-row mb-3">
                    <div class="col col-md-4">
                        <mat-form-field class="w-100" [floatLabel]="'always'">
                            <mat-label>例）YAMADA Taro</mat-label>
                            <input matInput type="text" placeholder="氏名（英語） " formControlName="name"  autocomplete="off" required>
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-md-3 offset-md-1">
                        <mat-form-field class="w-100"  [floatLabel]="'never'">
                            <input matInput [matDatepicker]="picker" placeholder="生年月日" formControlName="birthday" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-md-3 offset-md-1 align-self-center">
                        <mat-radio-group aria-label="gender" formControlName="gender" required>
                            <mat-radio-button value="0">男性</mat-radio-button>
                            <mat-radio-button value="1">女性</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col col-md-5">
                        <mat-form-field class="w-100" [floatLabel]="'always'">
                            <mat-label>最初の文字は半角英字、それ以降は半角の英数字と一部記号が可</mat-label>
                            <input matInput type="text" placeholder="Skype名" formControlName="skype_name" autocomplete="off" required>
                            <mat-hint>
                                可能記号： (,) (.) (-) (_)
                            </mat-hint>
                            <mat-error *ngIf="CustomerProfileForm.hasError('pattern', 'skype_name')">
                                入力規則違反、またはスペースが入っています
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-5 offset-md-1">
                        <mat-form-field class="w-100" [floatLabel]="'always'">
                            <mat-label>例）yamadataro777@gmail.com</mat-label>
                            <input matInput type="text" placeholder="メールアドレス" formControlName="mail_address" autocomplete="off" required>
                            <mat-hint>このメールアドレスがIDとなります。</mat-hint>
                            <mat-error *ngIf="CustomerProfileForm.hasError('pattern', 'mail_address')">
                                メールアドレス形式ではありません
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col col-md-5">
                        <mat-form-field class="w-100" [floatLabel]="'always'">
                            <mat-label>6文字以上12文字以内</mat-label>
                            <input matInput type="password" placeholder="パスワード" formControlName="password" autocomplete="off" required>
                            <mat-error *ngIf="CustomerProfileForm.hasError('minlength', 'password')">
                                パスワードは6文字以上です
                            </mat-error>
                            <mat-error *ngIf="CustomerProfileForm.hasError('maxlength', 'password')">
                                パスワードは12文字以内です
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col col-md-5 offset-md-1">
                        <mat-form-field class="w-100" [floatLabel]="'never'">
                            <input matInput type="password" placeholder="パスワード再入力" formControlName="password" autocomplete="off" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" mat-raised-button>Register</button>
            </div>
        </form>
    </mat-card>
</div>
