<div class="col-md-12 search-form">
    <form action="submit" #searchForm="ngForm" (ngSubmit)="onSearch(searchFormCtrls)" novalidate>
        <div class="form-table">
            <div class="table-row">
                <div class="form-label">Customer #</div>
                <div class="form-ctrl">
                    <input type="text" name="customerId" [formControl]="searchFormCtrls.controls['customerId']">
                </div>
                <div class="form-label">Customer Name</div>
                <div class="form-ctrl">
                    <input type="text"
                        placeholder="Fimily Name, Given Name or Nickname"
                        name="customerName"
                        [formControl]="searchFormCtrls.controls['customerName']"
                    >
                </div>
            </div>
            <div class="table-row">
                <div class="form-label">Phone #</div>
                <div class="form-ctrl">
                    <input type="text" name="phoneNumber" [formControl]="searchFormCtrls.controls['phoneNumber']">
                </div>
                <div class="form-label">Email address</div>
                <div class="form-ctrl">
                    <input type="text" name="mailAddress" [formControl]="searchFormCtrls.controls['mailAddress']">
                </div>
                <div class="form-label">Skype Name</div>
                <div class="form-ctrl">
                    <input type="text" name="skypeName" [formControl]="searchFormCtrls.controls['skypeName']">
                </div>
            </div>
            <div class="table-row">
                <div class="form-label">Date</div>
                <div class="form-ctrl">
                    <input type="date" name="reserveDate" [formControl]="searchFormCtrls.controls['reserveDate']">
                </div>
                <div class="form-label">Teacher Name</div>
                <div class="form-ctrl">
                    <select
                        name="teacherName"
                        [formControl]="searchFormCtrls.controls['teacherName']"
                    >
                        <option value="">Blank</option>
                        <option value="1">name1</option>
                        <option value="2">name2</option>
                        <option value="3">name3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col text-center mt-3">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </form>
</div>
