.search-form {
    margin-bottom: 15px;
}

.form-table {
    display: table;
    border-collapse: collapse;
    .table-row {
        width: 100%;
        display: table-row;
        .form-label {
            display: table-cell;
            background: #fcf8e3;
        }
        .form-ctrl {
            display: table-cell;
            width: 25%;
            input[type=text],
            input[type=date],
            select {
                outline: none;
                border: none;
                width: 100%;
                &::-webkit-input-placeholder {
                    font-size: 0.5rem;
                }
            }
        }
        .form-label, .form-ctrl {
            padding: 5px 3px;
            font-size: 0.8rem;
            border: 1px solid #ccc;
        }
    }
}