<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{ timeZone }}</h2>

        <table class="table table-bordered table-sm">

            <thead>
                <tr>
                    <th class="table-warning">Date</th>
                    <ng-container *ngFor="let d of getDayOfWeek">
                        <th style="cursor: pointer;">
                            <div [class.text-danger]="(d | date: 'EEE') === 'Sun'"
                                 [class.text-primary]="(d | date: 'EEE') === 'Sat'">
                                 {{ d | date: 'EEE' }}
                            </div>
                            <div>{{ d | date: 'd.MMM.yyyy' }}</div>
                        </th>
                    </ng-container>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let times of getTimeTableElements">
                    <td>{{ times }}</td>
                    <ng-container *ngFor="let d of getDayOfWeek">
                        <td style="cursor: pointer;" (click)="onClick(createCheckValue(d, times))">
                            <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
                        </td>
                        <!-- <td>
                            {{ createCheckValue(d, times) | date: 'yyyy/MM/dd HH:mm zzzz' : '+0000' }}
                        </td> -->
                    </ng-container>
                </tr>
            </tbody>

        </table>

    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <div class="col-md-12 text-center">
            <div class="btn-area">
                <button type="button" class="btn btn-warning" (click)="onClickCopyPrev()">
                    Copy from previous week
                </button>
            </div>
            <div class="btn-area">
                <h5>
                    {{ showsWeeks[0] | date: 'd.MMM.yyyy' }} - {{ showsWeeks[6] | date: 'd.MMM.yyyy' }}
                </h5>
            </div>
            <div class="btn-area">
                <button type="button" class="btn" (click)="onPost()">Register</button>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="btn-area">
                <button type="button" class="btn" (click)="onClickBtn('check')">All check</button>
                <button type="button" class="btn" (click)="onClickBtn('reset')">All reset</button>
            </div>
            <div class="btn-area">
                <button type="button" class="btn btn-warning" (click)="onClickSwitchWeek('prev')">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Previous week
                </button>
                <button type="button" class="btn btn-warning" (click)="onClickSwitchWeek('next')">
                    Next week <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <table class="table table-bordered table-sm">

            <thead>
                <tr>
                    <th class="table-warning">Date</th>
                    <ng-container *ngFor="let date of showsWeeks; let n = index">
                        <th style="cursor: pointer;" (click)="onSelectAday(n)">
                            <div [class.text-danger]="(date | date: 'EEE') === 'Sun'"
                                 [class.text-primary]="(date | date: 'EEE') === 'Sat'">
                                 {{ date | date: 'EEE' }}
                            </div>
                            <div>{{ date | date: 'd.MMM.yyyy' }}</div>
                        </th>
                    </ng-container>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let items of schedules; let i = index">
                    <td class="table-warning" style="cursor: pointer" (click)="onSelectAhour(i)">
                        {{ items?.title }}
                    </td>
                    <ng-container *ngFor="let val of items?.value">
                        <td style="cursor: pointer;" (click)="onClick(val)">
                            <i class="fa fa-check" aria-hidden="true" *ngIf="!!!val._can_reserve"></i>
                        </td>
                    </ng-container>
                </tr>
            </tbody>

        </table>
    </div>
</div> -->
