/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-header {
    // margin: 15px 0;
    padding: 15px 0;
}

@mixin my-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .u-mat-primary {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
    }
    .fa-minus {
        color: mat-color($warn);
    }
}

// Include material core styles.
@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include my-theme($theme);

