<div class="page-header">
    <h5 class="text-center">{{ pageHeaderTitle }}</h5> 
</div>
<div class="container">
    <div class="row">
        <form class="col-md-12 border-style" #studentForm="ngForm" (submit)="onSubmit(formCtrls)" novalidate>
            <!-- 各label,valueに表示される項目名は、日本語・英語で切り替えが必要になる -->

            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Name <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">e.g John Smith</p>
                        <!-- 日本語画面での例 -->
                        <!-- <p class="text-danger">例）YAMADA Taro/p> -->
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="customerName" class="form-control" [formControl]="formCtrls.controls.customerName">
                    </div>
                </div>
            </div>
            <!-- 英語画面ならニックネーム、日本語画面なら漢字での名前を表示切替する -->
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Nick Name <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">e.g smith</p>
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="nickName" class="form-control" [formControl]="formCtrls.controls.nickName">
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    氏名 <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">例）山田 太郎</p>
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="jpName" class="form-control" [formControl]="formCtrls.controls.jpName">
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    性別 <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-3 form-value flex-box">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male" [formControl]="formCtrls.controls.gender"> 男性
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female" [formControl]="formCtrls.controls.gender"> 女性
                        </label>
                    </div>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    生年月日 <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-5 form-value">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">日</label>
                                    <select class="form-control" size="1" [formControl]="formCtrls.controls.birthDay">
                                        <option value=""></option>
                                        <ng-container *ngFor="let d of returnMatchOfDays">
                                            <option [value]="d">{{ d }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">月</label>
                                    <select class="form-control" size="1" [formControl]="formCtrls.controls.birthMonth">
                                        <option value=""></option>
                                        <ng-container *ngFor="let m of itemOfMonth">
                                            <option [value]="m.value">{{ m.label }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">年</label>
                                    <select class="form-control" size="1" [formControl]="formCtrls.controls.birthYear">
                                        <option value=""></option>
                                        <ng-container *ngFor="let y of itemOfYear">
                                            <option [value]="y">{{ y }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <small>パスワードを忘れたときに必要になります。</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Skype Name(ID) <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <p class="skype-attend">
                        Only letters, numbers and the following punctuation marks.<br>
                        *full stop(.) comma(,) dash(-) underscore(_). <span class="text-danger">NO Space.</span>
                    </p>
                    <input type="text" name="skypeName" class="col-5 form-control" [formControl]="formCtrls.controls.skypeName">
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    E-mail address <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text-danger">e.g johnsmith@gmail.com</p>
                        </div>
                        <div class="col-md-6">
                            <p>This email address will be your user ID.</p>
                        </div>
                    </div>
                    <input type="text" name="mailAddress" class="col-7 form-control" [formControl]="formCtrls.controls.mailAddress">
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Password <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Between 6-12 characters in length.</p>
                            <input type="text" name="password" class="form-control" [formControl]="formCtrls.controls.password">
                        </div>
                        <div class="col-md-6">
                            <p>Please re-enter your Password.</p>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <div>
                        <p class="w-100 mb-0">Current your</p>
                        <p class="w-100 mb-0">French level
                            <span class="text-danger">&lowast;</span>
                        </p>
                    </div>
                </div>
                <div class="col-10 form-value flex-box">
                    <select size="1" name="frenchLevel" class="form-control col-6" [formControl]="formCtrls.controls.frenchLevel">
                        <option value="">hogehoge</option>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <div>
                        <p class="w-100 mb-0"><small>Learning Experience</small></p>
                        <p class="w-100 mb-0"><small>(if any)</small></p>
                    </div>
                </div>
                <div class="col-10 form-value">
                    <textarea name="leaningExperience" rows="3" class="form-control" style="resize: none;" [formControl]="formCtrls.controls.learningExperience"></textarea>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <small>Learning purpose <span class="text-danger">&lowast;</span></small>
                </div>
                <div class="col-10 form-value flex-box">
                    <select name="purpose" size="1" class="form-control col-6" [formControl]="formCtrls.controls.purpose">
                        <option value="">hogehoge</option>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Mother Tongue <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-4 form-value flex-box">
                    <input name="motherTongue" type="text" class="form-control" [formControl]="formCtrls.controls.motherTongue">
                </div>
                <div class="col-2 form-label table-info bl-1">
                    <div>
                        <p class="w-100 mb-0"><small>How did you fined</small></p>
                        <p class="w-100 mb-0"><small>out about us <span class="text-danger">&lowast;</span></small></p>
                    </div>
                </div>
                <div class="col-4 form-value flex-box">
                    <select name="howFinded" size="1" class="form-control" [formControl]="formCtrls.controls.howFinded">
                        <option value="">hogehoge</option>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <small>Other Languages 1</small>
                </div>
                <div class="col-4 form-value flex-box">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="otherLang1" type="text" class="form-control" [formControl]="formCtrls.controls.otherLang1">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_1" id="level1" value="0">
                                    <small> Beginner</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_1" id="level2" value="1">
                                    <small> Intermediate</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_1" id="level3" value="2">
                                    <small> Advanced</small>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    <small>Other Languages 2</small>
                </div>
                <div class="col-4 form-value flex-box">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="otherLang2" type="text" class="form-control" [formControl]="formCtrls.controls.otherLang2">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_2" id="level1" value="0">
                                    <small> Beginner</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_2" id="level2" value="1">
                                    <small> Intermediate</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="other_lang_2" id="level3" value="2">
                                    <small> Advanced</small>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center mt-5 mb-5">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
 
        </form>
    </div>
</div>
