.form-control {
    font-size: 0.8rem;
    padding: .3rem .5rem;
}

.form-column {
    border: 1px solid #ccc;
    border-bottom: none;
    &:nth-last-of-type(2) {
        border-bottom: 1px solid #ccc;
    }
    .form-label {
        border-right: 1px solid #ccc;
        min-height: 65px;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .form-value {
        padding-top: 3px;
        padding-bottom: 3px;
        p {
            margin-bottom: 0;
        }
        small {
            display: inline-block;
            width: 100%;
            text-align: right;
        }
    }
}

.box-element-center {
    min-height: 65px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}
.skype-attend {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    margin-bottom: 0.3rem !important;
}

.flex-box {
    display: flex;
    align-items: center;
}

.form-check-inline {
    margin-bottom: 0;
}

.bl-1 {
    border-left: 1px solid #ccc;
}

