<div class="page-header">
    <h5 class="text-center">{{ pageHeaderTitle }}</h5> 
</div>
<div class="container" *ngIf="pullDownMenus | async as menus">
    <div class="row">
        <form class="col-md-12 border-style" [formGroup]="formCtrls" (submit)="onSubmit(formCtrls)" novalidate>
            <!-- 各label,valueに表示される項目名は、日本語・英語で切り替えが必要になる -->

            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Name <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">e.g John Smith</p>
                        <!-- 日本語画面での例 -->
                        <!-- <p class="text-danger">例）YAMADA Taro/p> -->
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="customerName" class="form-control" formControlName="customerName">
                    </div>
                </div>
            </div>
            <!-- 英語画面ならニックネーム、日本語画面なら漢字での名前を表示切替する -->
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Nick Name <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">e.g smith</p>
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="nickName" class="form-control" formControlName="nickName">
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    氏名 <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="co-12">
                        <p class="text-danger">例）山田 太郎</p>
                    </div>
                    <div class="col-8 pl-0">
                        <input type="text" name="jpName" class="form-control" formControlName="jpName">
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Gender <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-3 form-value flex-box">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male" formControlName="gender"> Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female" formControlName="gender"> Female
                        </label>
                    </div>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    Date of birth <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-5 form-value" formGroupName="birth">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">Day</label>
                                    <select class="form-control" size="1" formControlName="day">
                                        <ng-container *ngFor="let d of returnMatchOfDays">
                                            <option [value]="d">{{ d }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">Month</label>
                                    <select class="form-control" size="1" formControlName="month">
                                        <ng-container *ngFor="let m of itemOfMonth">
                                            <option [value]="m.value">{{ m.label }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-0">
                                    <label class="mb-0">Year</label>
                                    <select class="form-control" size="1" formControlName="year">
                                        <ng-container *ngFor="let y of itemOfYear">
                                            <option [value]="y">{{ y }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <small>Its need when you forget a password.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Skype Name(ID) <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <p class="skype-attend">
                        Only letters, numbers and the following punctuation marks.<br>
                        *full stop(.) comma(,) dash(-) underscore(_). <span class="text-danger">NO Space.</span>
                    </p>
                    <input type="text" name="skypeName" class="col-5 form-control" formControlName="skypeName">
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    E-mail address <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text-danger">e.g johnsmith@gmail.com</p>
                        </div>
                        <div class="col-md-6">
                            <p>This email address will be your user ID.</p>
                        </div>
                    </div>
                    <input type="text" name="mailAddress" class="col-7 form-control" formControlName="mailAddress">
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Password <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-10 form-value">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Between 6-12 characters in length.</p>
                            <input type="text" name="password" class="form-control" formControlName="password">
                        </div>
                        <div class="col-md-6">
                            <p>Please re-enter your Password.</p>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <div>
                        <p class="w-100 mb-0">Current your</p>
                        <p class="w-100 mb-0">French level
                            <span class="text-danger">&lowast;</span>
                        </p>
                    </div>
                </div>
                <div class="col-10 form-value flex-box">
                    <select size="1" name="frenchLevel" class="form-control col-6" formControlName="frenchLevel">
                        <ng-container *ngFor="let item of menus.current_french_lebel">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <div>
                        <p class="w-100 mb-0"><small>Learning Experience</small></p>
                        <p class="w-100 mb-0"><small>(if any)</small></p>
                    </div>
                </div>
                <div class="col-10 form-value">
                    <textarea name="leaningExperience" rows="3" class="form-control" style="resize: none;" formControlName="learningExperience"></textarea>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <small>Learning purpose <span class="text-danger">&lowast;</span></small>
                </div>
                <div class="col-10 form-value flex-box">
                    <select name="purpose" size="1" class="form-control col-6" formControlName="purpose">
                        <ng-container *ngFor="let item of menus.purpose">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Mother Tongue <span class="text-danger">&lowast;</span>
                </div>
                <div class="col-4 form-value flex-box">
                    <input name="motherTongue" type="text" class="form-control" formControlName="motherTongue">
                </div>
                <div class="col-2 form-label table-info bl-1">
                    <div>
                        <p class="w-100 mb-0"><small>How did you finded</small></p>
                        <p class="w-100 mb-0"><small>out about us <span class="text-danger">&lowast;</span></small></p>
                    </div>
                </div>
                <div class="col-4 form-value flex-box">
                    <select name="howFinded" size="1" class="form-control" formControlName="howFinded">
                        <ng-container *ngFor="let item of menus.finded_tools">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    <small>Other Languages 1</small>
                </div>
                <div class="col-4 form-value flex-box" formGroupName="otherLanguage1">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="otherLang1" type="text" class="form-control" formControlName="language">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang1_level" value="0"
                                        formControlName="lang1_level">
                                    <small> Beginner</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang1_level" value="1"
                                        formControlName="lang1_level">
                                    <small> Intermediate</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang1_level" value="2"
                                        formControlName="lang1_level">
                                    <small> Advanced</small>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    <small>Other Languages 2</small>
                </div>
                <div class="col-4 form-value flex-box" formGroupName="otherLanguage2">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="otherLang2" type="text" class="form-control" formControlName="language">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang2_level" value="0"
                                        formControlName="lang2_level">
                                    <small> Beginner</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang2_level" value="1"
                                        formControlName="lang2_level">
                                    <small> Intermediate</small>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="lang2_level" value="2"
                                        formControlName="lang2_level">
                                    <small> Advanced</small>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-column row">
                <div class="col-2 form-label table-info">
                    Program Code
                </div>
                <div class="col-2 form-value flex-box">
                    <select name="programCode" size="1" class="form-control" formControlName="programCode">
                        <ng-container *ngFor="let item of menus.program_code">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    Remark
                </div>
                <div class="col-2 form-value flex-box">
                    <select name="remark" size="1" class="form-control" formControlName="remark">
                        <ng-container *ngFor="let item of menus.remark">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-2 form-label table-info bl-1">
                    Client Code
                </div>
                <div class="col-2 form-value flex-box">
                    <select name="clientCode" size="1" class="form-control" formControlName="clientCode">
                        <ng-container *ngFor="let item of menus.client_code">
                            <option [value]="item.value">{{ item.label }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>

            <div class="col-12 text-center mt-5 mb-5">
                <!-- <button type="submit" class="btn btn-default">Register</button> -->
                <button type="button" class="btn btn-default" *ngIf="getId | async" (click)="onDelete()">Delete</button>
                <button type="submit" class="btn btn-default" [disabled]="isDisabled">Register</button>
            </div>
 
            <p>{{ formCtrls.value | json }}</p>
            <p>{{ formCtrls.status | json }}</p>
        </form>
    </div>
</div>
